@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes carregar {
  0% {
    background-position: 0 0;
  }

  0% {
    background-position: 500% 0;
  }
}

@keyframes colorido {
  0% {
    color: #12f700;
    border-color: #12f700;
  }
  25% {
    color: #00ffff;
    border-color: #00ffff;
  }
  50% {
    color: #0000ff;
    border-color: #0000ff;
  }
  51% {
    color: #0000ff;
    border-color: #0000ff;
  }
  75% {
    color: #00ffff;
    border-color: #00ffff;
  }
  100% {
    color: #12f700;
    border-color: #12f700;
  }
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* variaveis */

:root {
  --main-color: #11ff00;
  --main-color-2: #f26006;
  --main-text-color: #fff;
  --border-color: #11ff00;
  --border-color-2: #f26006;
  --bio-bg-color: black;
  --bio-border-color: #293544;
  --about-bg-color: #353535;
  /* -- */
}

/* Geral */
.highlight {
  color: var(--main-color);
}

/* Container */
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--border-color);
}
.wpp-fundo{
  margin: 0;
  background-size: cover;
  
}
.img-fundo{
  width: 230px;
  height: 150px;
  border-radius: 5px;
  margin: 0;
}

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

/* bio container */

#bio-container h2 {
  margin-bottom: 5px;
}

#bio-container p {
  margin-bottom: 20px;
}

.apresentacao{
  position: relative;
  bottom: 100px;
}

#bio-container #welcome-text {
  font-weight: bold;
}

#bio-img {
  position: relative;
  bottom: 100px;
  background-color: #707470;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 25px;
  border: 4px solid var(--border-color);
  cursor: pointer;
}

#social-container {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

#social-container li {
  flex: 1 1 0;
  max-width: 60px;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
}
#social-container li a ion-icon:hover {
  color: var(--main-color-2);
}

#email-container {
  display: flex;
  justify-content: center;
}

#email-container ion-icon,
#email-container a {
  flex: 1 1 0;
}

#email-container a {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 250px;
}

#email-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
  cursor: pointer;
}

/* about container */

#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
}
.btn-share {
  display: flex;
  justify-content: start;
  align-items: center;
}
#btn-projects {
  font-weight: bold;
  font-size: 1rem;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  margin: 25px 0;
  width: 200px;
  padding: 12px 9px;
  text-align: center;
  align-items: center;
  display: flex;
  opacity: 0.8;
  transition: 0.8s;
}

#btn-projects ion-icon {
  font-size: 2rem;
  padding: 0;
}

#btn-projects ion-icon,
#btn-projects span {
  flex: 1 1 0;
}

#btn-projects ion-ico {
  font-size: 20px;
  max-width: 20px;
}

#btn-projects:hover {
  background-color: var(--border-color-2);
  border-color: var(--border-color-2);
  opacity: 1;
}

#skills-section-title {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin: 20px;
  font-size: 32px;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skills-box {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

.skills-box i {
  font-size: 45px;
  margin-right: 10px;
}

/* animaçoes */
.animations-section {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin: 20px;
  font-size: 32px;
}

.animations {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #00000062;
  border-bottom-color: var(--border-color);

  animation: spin 1s infinite linear;
}

.loading-bar {
  position: relative;
  width: 200px;
  height: 20px;
  border-radius: 15px;

  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.loading-bar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;

  background: linear-gradient(
    90deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00
  );
  background-size: 500%;
  animation: carregar 10s linear infinite;
}

.loading-bar::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;

  background: linear-gradient(
    90deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00
  );
  background-size: 500%;
  filter: blur(15px);
}

.container-relogio {
  margin-top: 40px;
  display: flex;
}

.clock {
  font-size: 3rem;
  font-weight: bold;
  color: #12f700;
  text-align: center;
  border: 2px solid #12f700;
  border-radius: 1rem;
  padding: 1rem 2rem;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #000000;

  animation: colorido 5s infinite linear;
}

.clock span {
  margin-right: 0.5rem;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.lightbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lightbox-image {
  max-width: 800px;
  object-fit: cover;
  border-radius: 20px;
}

.lightbox-close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  color: #fff;
  padding: 1rem 1.3rem;
  cursor: pointer;
  transition: 0.4s;
}

.lightbox-close:hover {
  color: #ff0000;
}

/* mobile */
@media (max-width: 450px) {
  #container {
    flex-direction: column;
  }
  .btn-share {
    justify-content: center;
  }

  #bio-container {
    padding: 0;
    margin: 0;
    min-height: auto;
    border-right: none;
  }

  #bio-container h2 {
    display: none;
  }

  #bio-container p {
    max-width: 60%;
    margin: 10px auto;
  }

  #about-container {
    text-align: center;
    padding: 30px;
  }

  #about-container .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  #btn-projects {
    margin: 20px auto;
  }

  .skills-box {
    flex: 1 1 100%;
    margin-bottom: 40px;
    max-width: 100%;
    text-align: center;
  }

  .skills-box i {
    font-size: 60px;
  }
  .lightbox-image {
    max-width: 300px;
    border-radius: 20px;
  }
  .container-relogio {
    justify-content: center;
  }

  .animations {
    display: grid;
  }

  .carregando {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar-colorida {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-relogio,
  .bar-colorida {
    margin-top: 50px;
  }
  .img-fundo {
    margin: 5px 0px;
    width: 430px;
    height: 200px;
  }
  #email-container ion-icon,
  #email-container a{
    font-size: 1.3rem;
  }

}
